.lorentz-container {
  max-width: 1200px;
}

.canvas-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212529;
}

.lorentz-canvas {
  background: #ffffff;
  width: 100%;
  height: auto;
  cursor: crosshair;
}

@media (max-width: 992px) {
  .lorentz-canvas {
    height: 300px;
  }
}
