.binary-tree-visualizer {
  text-align: center;
  padding: 20px;
}

h4 {
  text-align: center;
  color: hsla(251, 58%, 38%, 0.575);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container input {
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #45a049;
}

.tree-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
