.game-prisoners-dilemma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: 8px;
  margin: 48px;
}

.row {
  display: flex;
}

.cell {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: white;
  font-size: 0.8rem;
}

.cell.C {
  background-color: #4caf50; /* Green for cooperation */
}

.cell.D {
  background-color: #f44336; /* Red for defection */
}

.cell:hover {
  transform: scale(1.1);
}
