:root {
  --primary-light: #757ce8;
  --primary-main: #162788;
  --primary-dark: #002884;
  --primary-contrastText: #fff;

  --secondary-light: #ff7961;
  --secondary-main: #0d681c;
  --secondary-dark: #ba000d;
  --secondary-contrastText: #000;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--primary-contrastText);
  background-color: var(--primary-main);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.link-label {
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.link {
  margin: 32px 12px;
}

.content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  overflow: auto;
  min-height: 600px;
  padding: 1em;
}

.ico {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
